.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 4;
}

/* Front of card - picture side  */
/* Hide the card front by rotating it */
.card .front {
    transform: rotateY('90deg');
    position: absolute;
}

/* When flipped rotate the card back with styling adn hides the back of the card default styling */
.flipped .front {
    transform: rotateY('0deg')
}